page-canjes {
    .header {
        .toolbar .title .toolbar-title {
            color: $theme-color;
            font-size: 2.5rem;
            font-weight: 500;
            padding: 0 20px;
        }
        ion-segment {
            ion-segment-button {
                width: 100%;
                background: none;
                border: none;
                position: relative;
                opacity: unset !important;
                font-size: 1.6rem !important;
                text-transform: none !important;
                color: darken($gray, 20%) !important;
                font-weight: 400 !important;
                &.segment-activated {
                    background: none;
                    border: none;
                    opacity: unset !important;
                    color: $violet !important;
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        width: 100px;
                        height: 2px;
                        display: block;
                        background: $theme-color !important;
                    }
                }
            }
        }
    }
    .ListReview{
        margin-bottom: 0;

        .item {
            background: none;
            padding: 20px 23px !important;
            padding-bottom: 10px !important;
            border-bottom: 1px solid darken($gray, 10%) !important;

            ion-label {
                margin: 0;
                white-space: normal;
                width: 90% !important;
            }

            .item-inner {
                padding: 0;
            }

            .item_header {
                &.d-flex {
                    align-items: flex-start !important;
                }

                padding-bottom: 10px;

                .profile {
                    color: $white;

                    .profile-img {
                        position: relative;
                        width: 52px;
                        height: 52px;
                        overflow: hidden;
                        border-radius: 50%;

                        img {
                            position: absolute;
                            top: 0px;
                            bottom: 0px;
                            left: 0px;
                            right: 0px;
                            width: 52px;
                            max-width: unset;
                            height: 52px;
                        }
                    }

                    h2 {
                        font-size: 1.4rem;
                        margin: 0 10px;

                        span {
                            display: block;
                            font-size: 1.2rem;
                            padding-top: 3px;
                        }
                    }
                }

                .rating {
                    min-width: 90px;
                    margin-top: 8px;

                    ion-icon {
                        font-size: 1.7rem;
                        color: $text-light;

                        &.acteive {
                            color: $theme-color !important;
                        }
                    }
                }
            }
            text {
                bottom: 0px !important;
                padding-left: 0px !important;
                position: relative !important;
            }

            p.text {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 20px;
                bottom: 30px !important;
                padding-left: 0px !important;
            }

            &:last-child {
                border-bottom: none !important;
            }
        }
    }


    .list {
        margin: 0;
        .item {
            background: none;
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 165px;
            padding: 0;
            .item-inner {
                padding: 0;
            }
            ion-label {
                margin: 0;
                position: absolute;
                width: 100%;
                height: 165px;
                white-space: normal;
                img.bg {
                    position: absolute;
                    width: 100%;
                    height: 256px;
                    top: -33px;
                }
            }
            ion-badge {
                position: absolute;
                top: 0;
                right: 0;
                border-radius: 50px;
                font-weight: 300;
                padding: 7px 11px;
                font-size: 1.15rem;
                z-index: 1;
                ion-icon {
                    font-size: 1.1rem;
                }
            }
            .text {
                position: absolute;
                bottom: 10px;
                z-index: 1;
                padding-right: 15px;
                padding-left: 21px;
                width: 100%;
                h2 {
                    color: $white;
                    margin: 0;
                    font-size: 1.7rem;
                    padding-bottom: 2px;
                }
                p {
                    color: $gray;
                    font-size: 1.1rem;
                    font-weight: 300;
                    img {
                        width: 10px;
                        margin-right: 5px;
                    }
                    span.end {
                        font-size: 1.24rem;
                        color: $white;
                        font-weight: 300;
                    }
                }
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
                background: -moz-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(0, 0, 0, 1) 100%);
                background: -webkit-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(0, 0, 0, 1) 100%);
                background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, rgba(0, 0, 0, 1) 100%);
            }
        }
        &.offers {
            .item {
                ion-badge {
                    ion-icon {
                        margin-right: 5px;
                        position: relative;
                        top: -1px;
                    }
                }
            }
        }
    }
    .footer {
        padding: 20px 16px;

        ion-icon {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            text-align: center;
            font-size: 3rem !important;
            line-height: 60px !important;
        }
    }
}
