<ion-header class="bg-color">
    <ion-navbar>
        <ion-title class="text-theme">  
            <img src="assets/imgs/banner_mc.png" width="50%" height="50%" (click)="search()">
            <span class="end">                
                <img src="assets/imgs/ic_search-4.png" (click)="search()">
                <img src="assets/imgs/ic_account-4.png" (click)="perfil()">

            </span>
        </ion-title>
    </ion-navbar>
    
</ion-header>

<ion-content class="bg-color">
    <!--    
    <image-gallery-layout-1>
                <ion-grid card-background-page no-padding>
                  <ion-row>
                      <ion-col col-12 col-sm-4 col-md-6 col-lg-4 col-xl-3>
                          <ion-card background-size style="background-image: url('assets/imgs/9-2.png')">
                          </ion-card>    
                      </ion-col>
                  </ion-row>			
              </ion-grid>
          </image-gallery-layout-1>
        -->
        <div class="banner"  *ngFor="let d of bannersLst; let i = index">
            <img [src]="d.Imagen" class="bg">                
       </div>
       
       <div class="categories">
            <h2 (click)="VerCategorias()" class="text-gray d-flex">{{'Categorias' | translate}}<span  class="text-violet end">{{'view_all' | translate}}</span></h2>
        </div>
        <div class="fixed-bottom">
                <ion-scroll scrollX="true" style="height: 108px;white-space: nowrap;">
                    
                    <ion-card *ngFor="let d of categoriasLst; let i = index" >
                        <ion-item (click)="category_result()">
                            <ion-avatar item-start>
                                <img [src]="d.Imagen">
                            </ion-avatar>
                            <h2>{{d.Nombre}}</h2>                                
                            <h3 class="d-flex">
                                <ion-badge item-end>{{d.Productos.length}}
                                    <ion-icon name="md-star"></ion-icon>
                                </ion-badge>
                                <span>Productos</span>
                            </h3>
                        </ion-item>
                    </ion-card>
                    <!--<ion-card>
                        <ion-item (click)="category_result()">
                            <ion-avatar item-start>
                                <img src="assets/imgs/3.png">
                            </ion-avatar>
                            <h2>Restaurants</h2>                                
                            <h3 class="d-flex">
                                <ion-badge item-end>{{'15' | translate}}
                                    <ion-icon name="md-star"></ion-icon>
                                </ion-badge>
                                <span>Productos</span>
                            </h3>
                        </ion-item>
                    </ion-card>
                    <ion-card>
                        <ion-item (click)="category_result()">
                            <ion-avatar item-start>
                                <img src="assets/imgs/6.png">
                            </ion-avatar>
                            <h2>Moda</h2>                                
                            <h3 class="d-flex">
                                <ion-badge item-end>{{'150' | translate}}
                                    <ion-icon name="md-star"></ion-icon>
                                </ion-badge>
                                <span>Productos</span>
                            </h3>
                        </ion-item>
                    </ion-card>
                    <ion-card>
                        <ion-item (click)="category_result()">
                            <ion-avatar item-start>
                                <img src="assets/imgs/8.png">
                            </ion-avatar>
                            <h2>Calzados</h2>                                
                            <h3 class="d-flex">
                                <ion-badge item-end>{{'50' | translate}}
                                    <ion-icon name="md-star"></ion-icon>
                                </ion-badge>
                                <span>Productos</span>
                            </h3>
                        </ion-item>
                    </ion-card>
                    <ion-card>
                        <ion-item (click)="category_result()">
                            <ion-avatar item-start>
                                <img src="assets/imgs/9.png">
                            </ion-avatar>
                            <h2>Decoración</h2>                                
                            <h3 class="d-flex">
                                <ion-badge item-end>{{'10' | translate}}
                                    <ion-icon name="md-star"></ion-icon>
                                </ion-badge>
                                <span>Productos</span>
                            </h3>
                        </ion-item>
                    </ion-card>
                    <ion-card>
                        <ion-item (click)="category_result()">
                            <ion-avatar item-start>
                                <img src="assets/imgs/10.png">
                            </ion-avatar>
                            <h2>Música</h2>                                
                            <h3 class="d-flex">
                                <ion-badge item-end>{{'10' | translate}}
                                    <ion-icon name="md-star"></ion-icon>
                                </ion-badge>
                                <span>Productos</span>
                            </h3>
                        </ion-item>
                    </ion-card>-->
                    
                </ion-scroll>
            </div>

            <div class="categories">
                <h2 class="text-gray d-flex">{{'Últimos canjes' | translate}}</h2>
            </div>
            <div>
                <ion-list class="offers" *ngFor="let d of canjesLst; let i = index">
                            <ion-row>
                                    <ion-col col-6 col-sm-6 col-md-6 col-lg-6>
                                        <ion-item (click)="offerdetail()" class="itemGrilla"  >
                                                <img [src]="d.Imagen" class="bg">
                                                <ion-badge item-end>
                                                    <ion-icon name="md-stopwatch"></ion-icon>
                                                  {{d.Ult_Dias}}
                                                </ion-badge>
                                                <div class="text">
                                                    <h2 class="H2Grilla">{{d.Nombre}}</h2>
                                                </div>
                                            </ion-item>
                                    </ion-col>
                                    <!--<ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
                                        <ion-item (click)="offerdetail()" class="itemGrilla" >
                                                <img src="assets/imgs/10.png" class="bg">
                                                <ion-badge item-end>
                                                    <ion-icon name="md-stopwatch"></ion-icon>
                                                    6 Dias
                                                </ion-badge>
                                                <div class="text">
                                                    <h2 class="H2Grilla">10 Clases de Guitarra acústica </h2>
                                                
                                                    
                                                </div>
                                            </ion-item>
                                    </ion-col>
                                </ion-row>			
                            
                                <ion-row>
                                    <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
                                        <ion-item (click)="offerdetail()" class="itemGrilla" >
                                            <img src="assets/imgs/3.png" class="bg">
                                            <ion-badge item-end>
                                                <ion-icon name="md-stopwatch"></ion-icon>
                                                5 Hrs
                                            </ion-badge>
                                            <div class="text">
                                                <h2 class="H2Grilla">Desayuno completo para 2 personas</h2>
                                              
                                            </div>
                                        </ion-item>
                                    </ion-col>
                                    <ion-col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6>
                                        <ion-item (click)="offerdetail()" class="itemGrilla" >
                                            <img src="assets/imgs/20.jpg" class="bg">
                                            <ion-badge item-end>
                                                <ion-icon name="md-stopwatch"></ion-icon>
                                                2 Dias
                                            </ion-badge>
                                            <div class="text">
                                                <h2 class="H2Grilla">Servicios de Gasista matriculado</h2>
                                              
                                               
                                            </div>
                                        </ion-item>
                                    </ion-col>-->
                        </ion-row>		
                </ion-list>
            </div>

            

            <div class="categories">
                    <h2 class="text-gray d-flex">{{'Cupones' | translate}}</h2>
                </div>
            <div>
                <ion-list class="offers"  *ngFor="let d of descuentosLst; let i = index">
                    <ion-item (click)="offerdetail()">
                        <img [src]="d.Imagen" class="bg">
                        <ion-badge item-end>
                            <ion-icon name="md-stopwatch"></ion-icon>
                            {{d.Ult_Dias}}
                        </ion-badge>
                        <div class="text">
                            <h2>{{d.Nombre}}</h2>
                            <p class="d-flex text-theme">
                                {{d.Descripcion}}
                            </p>
                        </div>
                    </ion-item>
                   <!--<ion-item (click)="offerdetail()">
                        <img src="assets/imgs/6.png" class="bg">
                        <ion-badge item-end>
                            <ion-icon name="md-stopwatch"></ion-icon>
                            5 Hrs
                        </ion-badge>
                        <div class="text">
                            <h2>Voucher 50% de descuento en Stone</h2>
                            <p class="d-flex text-theme">
                                Stone Shopping Abasto
                            </p>
                        </div>
                    </ion-item>-->
                </ion-list>
        
        
            </div>
            <ion-list no-lines padding-left padding-right>
                <div class="socile d-flex">
                    <button ion-button icon-start block class="btn text-white" round (click)="VerMasCanjes()">
                        <ion-icon class="material-icons text-white">add</ion-icon>
                        Ver Más Canjes
                    </button>
                </div>
            </ion-list>
</ion-content>
<ion-footer no-border class="d-flex">
    <ion-icon class="material-icons text-white bg-theme end" (click)="NuevoCanje()">add</ion-icon>
</ion-footer>
